<section id="projects">
    <div class="wrapper">
        <div class="text-center">
            <h1 class="blue-title">Happyyy Birthdayyy!</h1>
        </div>
        <div id="vertical-timeline" class="light-timeline">

            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-paw" aria-hidden="true"></i>
                </div>
                <div class="vertical-timeline-content">
                    <p>
						<span>
							for (int i=1; i < = 23; i++)<br>
								printf("Happy Birthday!")<br>

							You're one of the most amazing people I know and I really think I'm lucky to have you as my best friend. You've been there to patiently listen to me countless times and you always make me feel much better after we talk. Thanks for always having my back.<br>

							I absolutely lovee talking to you on the phone and I look forward to our calls a lot. 'How was your day' has become kind of a constant conversation starter and it's probably my favourite. There is never a dull moment while talking to you and it makes me really happy when we talk.<br>

							Thank you for trusting me with so many of your secrets and 'kisiko mat bataa' things. I promise they're all safe with me.<br>

							You're the strongest and most beautiful person I know, and I really look up to how you're able to face the toughest situations so well and come out of them successfully.<br>

							Also, congratulations on a great year at GEP, and all the very best for your MBA preparations up ahead. I'm sure you'll ace all the exams and you'll get calls from the best B-schools! MBA me jaake mujhe bhoolna mat!<br>

							Thanks for being there, and I look forward to many more infinite and endless conversations with you.<br>

							Bestieee!
			    		</span>
					</p>
                </div>
            </div>
        </div>
    </div>
</section>
