<section id="projects">
    <div class="wrapper">
        <div class="text-center">
            <h1 class="blue-title">Happyyy Birthdayyy!</h1>
        </div>
        <div id="vertical-timeline" class="light-timeline">

            <div class="vertical-timeline-block">
                <div class="vertical-timeline-icon">
                    <i class="fa fa-paw" aria-hidden="true"></i>
                </div>
                <div class="vertical-timeline-content">
                    <p>
						<span>


							Utkarsha💙<br><br>

<pre>
for (int i=1; i < = 23; i++)
	printf("Happy Birthday!")
</pre>

                            I hope your year is full of happiness💓, chocolates🍫, masala chai/coffee☕, cheese🧀, lasagna, cupcakes🧁, cookies🍪, honey🍯, the cutest doggies🐶, badminton🏸, home-made mango ice-cream🥭, tonnes of selfies and pictures📸, lots of time spent with Nihira👧 and of course, happiest moments with your family! I wish you'll always be able to fulfill all that your heart (and stomach) craves no matter how late it is at night! I hope you'll be able to tick off everything from your bucket list and hopefully you'll be able to visit the Sentinelese Islands (jaane se pehle milke jaana I'll miss you a lot if you go there).<br><br>
                            
                            I just want to say a huge THANK YOU for always being there, always understanding and always making me feel better when I'm down. I really consider myself lucky to have you as my best friend and I wouldn't trade it with anything else! You're my go-to person for everything going on in my life be it good or bad. You're an amazing person Utkarsha, don't ever let anyone make you feel otherwise💙<br><br>

                            Congratulations on a great year at GEP, and all the very best for your MBA preparations up ahead. I'm sure you'll ace all the exams and you'll get admits from the best B-schools! MBA me jaake mujhe bhoolna mat!<br><br>

							Thanks for having my back, and I look forward to many more infinite and endless conversations with you; I'll always be a phone call or a text away💙!<br><br>

							Bestieee!💙🐾
			    		</span>
					</p>
                </div>
            </div>
        </div>
    </div>
</section>
